html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mobile_view {
    position: relative;
    aspect-ratio: 9 / 16;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    /*background-color: #f0f0f0;*/
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.fade_out {
    animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}