html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.fade-out {
    animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}