.mobile_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 87px;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*z-index: 10;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    padding: 0 1%;
    z-index: 50;
}

.header_left {
    display: flex;
    align-items: center;
}

.main_logo {
    height:10vh;
    margin-right: 1%;
    cursor: pointer;
}

.header_center {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.header_search_input {
    width: 90%;
    height: 43px;

    padding-left: 2%;

    background: #F4F4F4;
    border: 0.2vw solid #0F62FE;
    border-radius: 50px;

    font-size: 1rem;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1%;
    padding: 0.5vw;
    font-size: 0.9rem;
}

.header_right button:hover {
    background-color: #eee;
}
.noti_alert {
    width: 30px;
    height: 30px;
}