.tabBarRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  padding: 18px 0px 0px 4px;
  margin-top: 8px;
  padding-left: 12px;
  gap: 8px;
}


.tabWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 350px;
  margin: 0 auto;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  cursor: pointer;
  padding: 4px 0;
  position: relative;
}

.tab.active {
  color: #0D1A80;
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #0D1A80;
  transition: left 0.3s ease;
  border-radius: 2px;
}

.plusIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

