.mobile-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 1%;
}

.header-left {
    display: flex;
    align-items: center;
}

.main-logo {
    height:10vh;
    margin-right: 1%;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-search-input {
    width: 80%;
    height: 4vh;

    padding-left: 2%;

    background: #F4F4F4;
    border: 0.2vw solid #0F62FE;
    border-radius: 50px;

    font-size: 1rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1%;
    padding: 0.5vw;
    font-size: 0.9rem;
}

.header-right button:hover {
    background-color: #eee;
}
.noti-alert {
    width: 30px;
    height: 30px;
}