{
  "REACT_APP_SENTRY_DSN": "your-sentry-dsn",
  "REACT_APP_ENVIRONMENT": "local",
  "REACT_APP_SENTRY_REPOSITORY_URI": "your-sentry-repo-uri",
  "REACT_APP_SLACK_WEBHOOK_URL": "your-slack-webhook-url",
  "REACT_APP_AI_API_BASE": "your-profanity-api-url",
  "REACT_APP_BACKEND_BASE_URI": "http://localhost:8080"
} 
